body {background-color:#FFCCD2;}
hr {border-color: red;
border-style:none;
border-top-style: dotted;
border-width: 5px;
width: 10%;}
img {height: 150px;
border-radius: 100%;}
h1:hover {color: #F90716;}
